<!doctype html>
<html>
<head>
    <title>Driwer site</title>
    {{{_sections.head}}}
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
    <header><img src="/img/logo.jpg" alt="Логотип Driwer site"></header>
    {{{body}}}
    {{{_sections.jquery}}}

    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/mocha.js"></script>
        <script src="/vendor/chai.js"></script>
        <script>
             mocha.ui('tdd');
             var assert = chai.assert;
        </script>
        <script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}
</body>
</html>
